<!DOCTYPE html>
<html>

  {{ partial "head.html" . }}

  <body>

    {{ partial "header.html" . }}

    <div class="container">
      <div class="row justify-content-center">
		{{ block "main" . }}{{ end }}
      </div>
      {{ $pag := $.Paginator }}

      <nav id="post-nav">
        {{ if $pag.HasPrev }}
            <span class="prev">
          <a href="{{ $pag.Prev.URL }}" title="Previous Page">
            <span class="arrow">←</span> Newer Posts
          </a>
            </span>
        {{ end }}
        {{ if $pag.HasNext }}
            <span class="next">
                <a href="{{ $pag.Next.URL }}">
                    Older Posts <span class="arrow">→</span>
                </a>
            </span>
        {{ end }}
    </nav>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "custom_footer.html" . }}
    
    {{ range .Site.Params.plugins_js }}
      <script src="{{ . }}"></script>
    {{ end }}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>

</html>
